body {
    font-size: 16px;
}

header {
    border-bottom: solid 5px black;
    margin-top: -10px;
    background-color: rgb(186, 182, 182);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#nav-links {
    display: flex;
}

#nav-links li {
    list-style: none;
    margin: 3px;
    padding: 5px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

#nav-links li a {
    text-decoration: none;
    color: black;
}

#about-me-para {
    margin: 20px;
    max-width: 400px;
}

#about-me img {
    width: 400px;
    margin: 20px;
    border-radius: 20px;
}

h2,
h4 {
    text-decoration: underline;
    text-align: center;
}

#projects div {
   /* width: 400px;
    margin: auto;*/
    text-align: center;

/* Trying to move this to the middle of screen */
}

#projects a {
    font-size: 20px;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    background-color: rgb(228, 228, 217);
    width: 400px;
    margin: 2px;
    padding: 5px;
    border: solid 2px black;
}

/*#project-one-title,
#project-two-title {
    text-decoration: underline;
}*/

#hidden-project-one,
#hidden-project-two {
    display: none;
}

#project-one:hover {
    display: block;
}

footer {
    text-align: center;
    border-top: solid 5px black;
    margin-top: 10px;
    background-color: rgb(186, 182, 182);
}

@media only screen and (max-width: 573px){
    #nav-links {
        margin-top: -20px;

    }

}